@using CognitiveSearch.Web.Configuration
@inject AppConfig AppConfig

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Azure Cognitive Search Starter</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.components.min.css" />
    <link rel="stylesheet" href="~/lib/fabric-ui/fabric.css" />
    <link rel="stylesheet" href="~/lib/fabric-ui/fabric-9.4.0.scoped.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    @Html.Raw(JavaScriptSnippet.FullScript)
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/js/fabric.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-selection-multi.v1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-bg border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" height="35px" id="navbar-img" alt="@AppConfig.Organization.Name logo" title="@AppConfig.Organization.Name Cognitive Search" class="logo-container logo-sgv" asp-append-version="true" />
                </a>
                <ul class="navbar-nav list-group-horizontal">
                    <li class="nav-item pl-5">
                        <a class="nav-link navbar-text" asp-area="" asp-controller="Search" asp-action="Search">Search</a>
                    </li>
                    <li class="nav-item pl-5">
                        <a id="customize-page" class="nav-link navbar-text" asp-area="" asp-controller="Admin" asp-action="Customize">Customize</a>
                    </li>
                    <li class="nav-item pl-5">
                        <a id="upload-data-page" class="nav-link navbar-text" asp-area="" asp-controller="Admin" asp-action="UploadData">Upload Files</a>
                    </li>
                    <li class="nav-item pl-5">
                        <a class="nav-link navbar-text" asp-area="" asp-controller="Reports" asp-action="Index">Reports</a>
                    </li>
                    <li class="nav-item pl-5">
                        <a class="nav-link navbar-text" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="nav-item pl-5">
                        <a class="nav-link navbar-text" asp-area="" asp-controller="Home" asp-action="UseOfDatasets">Use of Demo</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <!-- The Modal -->
    <div id="tutorial-modal" class="tutorial-modal">
        <!-- Modal content -->
        <div class="left-tutorial-modal-content" id="tutorial-modal-content">
            <p class="m-1">some text</p>
            <br />
            <span class="m-1" style="float:left;font-weight:600"><a id="previous-tut-link" href="javascript:showTutorialSection();">previous</a></span>
            <span class="m-1" style="float:left;font-weight:600"><a id="next-tut-link" href="javascript:showTutorialSection();">next</a></span>
            <span class="m-1" style="float:right;font-weight:600"><a id="skip-tut-link" href="javascript:skipTutorial(false);">Skip Tutorial</a></span>

        </div>
    </div>

    <div id="introModal" class="tutorial-intro-modal">
        <!-- Modal content -->
        <div class="tutorial-intro-modal-content">
            <h2>Tutorial</h2>
            <p>This tutorial will walk you through the key features of this demo solution. Click "Begin" to start.</p>
            <p>For more information about how to use this demo solution, watch the <a target="_blank" href="https://youtu.be/Xp8NiljMUEI">introduction video</a>.</p>
            <br />
            <div>

                <span class="m-1" style="float:left;font-weight:600">
                    <a href="javascript:showTutorialSection(0);">Begin</a>
                </span>
                <span class="m-1" style="float:right;font-weight:300">
                    <input type="checkbox" id="donotshowtutorial" checked style="transform:scale(1.5)">&nbsp;Don't show this again.
                </span>
                <span class="m-1" style="float:right;font-weight:600">
                    <a href="javascript:skipTutorial(true);">Skip Tutorial</a>&nbsp;&nbsp;
                </span>

            </div>
        </div>

    </div>

    @await Html.PartialAsync("_Footer")

    <script src="~/js/tags.js" asp-append-version="true"></script>
    <script src="~/js/details.js" asp-append-version="true"></script>
    <script src="~/js/appInsights.js" asp-append-version="true"></script>
    <script src="~/js/results.js" asp-append-version="true"></script>
    <script src="~/js/facets.js" asp-append-version="true"></script>
    <script src="~/js/search.js" asp-append-version="true"></script>
    <script src="~/js/entityMap.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        apiUrl = '@AppConfig.ApiConfig.Url';
        customizable = '@AppConfig.Customizable';

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
